<div>
    <h1 class="display-1">{{ this.groupName }}</h1>

    <h3>Miembros</h3>
    <div class="list-group">
    <a class="list-group-item list-group-item-action list-group-item-primary">Miembro 1 (Admin)</a>
    <a class="list-group-item list-group-item-action">Miembro 2</a>
    <a class="list-group-item list-group-item-action">Miembro 3</a>
    <a class="list-group-item list-group-item-action">Miembro 4</a>
    </div>

    <div class="mt-3 p-4 bg-primary-subtle text-primary-emphasis">
        <form>
            <h4 class="m-8">Nueva Categoría</h4>
            <input type="text" class="form-control m-4" id="formGroupExampleInput" placeholder="Nombre">
            <!-- @for (group of userGroups; track $index) { -->
            <div class="row">
                <div class="col-sm-4 col-form-label text-center">
                    <h5> Miembro 1</h5>
                </div>
                <div class="col-sm-8">
                    <input type="numeric" min="0" max="100" class="form-control" placeholder="porcentaje">
                </div>
            </div>
            <!-- } -->
            <button class="btn btn-primary mt-4" (click)="createCategory()" type="button">Crear categoría</button>
        </form>
    </div>

    <div class="mt-3">
        <h3>Categorias</h3>
        <!-- @for (group of userGroups; track $index) { -->
        <!-- } -->
    </div>
</div>
