<div class="m-2">
    <h1 class="display-1">{{ this.group.name }}</h1>

    <h3>Miembros</h3>
    <div class="list-group">
    @for (member of this.membersData; track $index) {
        <!-- TODO: agregar list-group-item-primary al admin -->
        <a class="list-group-item list-group-item-action" [ngClass]="{'list-group-item-success': member.id_user === this.admin_id}">{{ member.username }}</a>
    }
    </div>

    <div class="mt-3 p-3 bg-primary-subtle text-primary-emphasis rounded">
        <form #categoryForm="ngForm" (ngSubmit)="createCategory(categoryForm.value)">
            <h4 class="m-8">Nueva Categoría</h4>
            <div class="m-4">
                <input type="text" class="form-control" id="newCategoryName" name="newCategoryName" placeholder="Nombre" ngModel>
                @for (member of this.membersData; track $index) {
                    <div class="row mt-2">
                        <div class="col-sm-4 col-form-label text-center">
                            <h5>{{ member.username }}</h5>
                        </div>
                        <div class="col-sm-8">
                            <input type="numeric" min="0" max="100" class="form-control" [name]="'percentage' + $index" placeholder="porcentaje" ngModel>
                            <!-- <input type="numeric" min="0" max="100" class="form-control" [name]="'percentage' + member.id" placeholder="porcentaje" ngModel> -->
                        </div>
                    </div>
                }
                <button class="btn btn-primary mt-4" type="submit">Crear categoría</button>
            </div>
        </form>
    </div>

    <div class="m-3">
        <h3>Categorias</h3>
        @for (category of this.categories; track $index) {
            <div class="p-2 text-center">
                <h4 class="bg-secondary-subtle rounded p-2">{{ category.name }}</h4>
                <table class="table table-striped">
                    <thead class="thead-dark">
                        <tr>
                        <th scope="col">#</th>
                        <th scope="col">Titulo</th>
                        <th scope="col">Descripción</th>
                        <th scope="col">Costo</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                        <th scope="row">1</th>
                        <td>Lorem</td>
                        <td>Ipsum</td>
                        <td>$1.000.000</td>
                        </tr>
                    </tbody>
                </table>
                <!-- delete category button -->
                <div class="d-grid gap-2 col-6 mx-auto">
                    <button type="button" class="btn btn-danger" (click)="deleteCategory(category)">Eliminar categoría</button>
                </div>
            </div>
        }
    </div>
</div>
