<h1 mat-dialog-title>Agregar Gasto</h1>
<div class="content">
  <div mat-dialog-content>
    <mat-form-field >
      <mat-label>$</mat-label>
      <input matInput [(ngModel)]="data.amount" cdkFocusInitial>
    </mat-form-field>
    @if (data.showAmountError) {
      <mat-error 
      >{{data.msgAmountError}}</mat-error>
    }
    <mat-form-field class="tag">
      <mat-label>Categoría</mat-label>
      <mat-select [(ngModel)]="data.category" placeholder="Categoría">
        @for(category of this.data.categories; track $index){
          <mat-option value={{category.name}}>{{category.name}}</mat-option>
        }
      </mat-select>
    </mat-form-field>
    @if (data.showCategorySelectError) {
      <mat-error 
      >{{data.msgCategorySelectError}}</mat-error>
    }
  </div>
  <div mat-dialog-content>
    <p>Ingrese una descripción</p>
    <mat-form-field [style.width.%]=100>
      <input matInput [(ngModel)]="data.description" cdkFocusInitial>
    </mat-form-field>
    @if (data.showDescriptionError) {
      <mat-error 
      >{{data.msgDescriptionError}}</mat-error>
    }
  </div>
</div>
  <div mat-dialog-actions>
    <button mat-button (click)="onNoClick()">No Thanks</button>
  <button mat-button  (click)="onClick()" >Ok</button>
</div>