<div class="content">
    <mat-card>
        <mat-card-title>Register</mat-card-title>

        <form class="form" [formGroup]="registerForm" (ngSubmit)="onSubmit()">
            
            <mat-form-field hideRequiredMarker>
                <mat-label><mat-icon>alternate_email</mat-icon> Username</mat-label>
                <input matInput type="text" formControlName="username"/>
            </mat-form-field>
                
            <div class="subfield">
                <div>

                    
                    <mat-form-field hideRequiredMarker class="mat-form-field-password">
                        <mat-label for="password">Password</mat-label>
                        <input 
                            matInput 
                            name="password" 
                            [type]="hidePassword ? 'password' : 'text'"
                            formControlName="password"
                            #pw
                        />
                        <mat-icon matSuffix (click)="hidePassword = !hidePassword">{{hidePassword ? 'visibility_off' : 'visibility'}}</mat-icon>
                        <mat-error 
                        *ngIf="registerForm.get('password')?.getError('required')"
                        >You must enter a value.</mat-error>
                        

                    </mat-form-field>
                    
                    
                    <mat-form-field hideRequiredMarker class="mat-form-field-password">
                        <mat-label>Repeat Password</mat-label>
                        <input matInput type="password" formControlName="repeatPassword" 
                        [type]="hidePasswordRepeat ? 'password' : 'text'"
                        />
                        <mat-icon matSuffix (click)="hidePasswordRepeat = !hidePasswordRepeat">{{hidePasswordRepeat ? 'visibility_off' : 'visibility'}}</mat-icon>

                    </mat-form-field>


                </div>
                <div class="password-gap">
                    <mat-error 
                    *ngIf="
                        registerForm.get('password')?.hasError('noDigit') || 
                        registerForm.get('password')?.hasError('noLowercase') || 
                        registerForm.get('password')?.hasError('noSpecialChar') || 
                        registerForm.get('password')?.hasError('noUppercase') || 
                        registerForm.get('password')?.hasError('minLength') 
                    "
                    >Password must contain:</mat-error>

                    <mat-error 
                    class="mat-valid"
                    *ngIf="
                        passwordFormatValid('password') && 
                        !registerForm.get('password')?.hasError('required')
                    "
                    >Password is ok <mat-icon [inline]="true">check</mat-icon> </mat-error>
                    @if (!registerForm.get('password')?.hasError('required') && !passwordFormatValid('password')) {

                        <mat-error 
                            *ngIf="registerForm.get('password')?.hasError('noDigit')"
                            > &nbsp; <mat-icon [inline]="true">close</mat-icon>  one number.</mat-error>
                        <mat-error 
                            *ngIf="!registerForm.get('password')?.hasError('noDigit')"
                            class="mat-valid"
                            > &nbsp; <mat-icon [inline]="true">check</mat-icon>  one number.</mat-error>
                        <mat-error 
                            *ngIf="registerForm.get('password')?.hasError('noLowercase')"
                            > &nbsp; <mat-icon [inline]="true">close</mat-icon>  one lowercase letter.</mat-error>
                        
                        <mat-error 
                            *ngIf="!registerForm.get('password')?.hasError('noLowercase')"
                            class="mat-valid"
                            > &nbsp; <mat-icon [inline]="true">check</mat-icon>  one lowercase letter.</mat-error>
                            
                        <mat-error 
                            *ngIf="registerForm.get('password')?.hasError('noUppercase')"
                            > &nbsp; <mat-icon [inline]="true">close</mat-icon>  one uppercase letter.</mat-error>
                        
                        <mat-error 
                            *ngIf="!registerForm.get('password')?.hasError('noUppercase')"
                            class="mat-valid"
                            > &nbsp; <mat-icon [inline]="true">check</mat-icon>  one uppercase letter.</mat-error>
                        
                        <mat-error 
                            *ngIf="registerForm.get('password')?.hasError('noSpecialChar')"
                            > &nbsp; <mat-icon [inline]="true">close</mat-icon>  one special character.</mat-error>
                        
                        <mat-error 
                            *ngIf="!registerForm.get('password')?.hasError('noSpecialChar')"
                            class="mat-valid"
                            > &nbsp; <mat-icon [inline]="true">check</mat-icon>  one special character.</mat-error>
                        
                        <mat-error 
                            *ngIf="registerForm.get('password')?.hasError('minLength')"
                            > &nbsp; <mat-icon [inline]="true">close</mat-icon>  8 characters.</mat-error>
                        
                        <mat-error 
                            *ngIf="!registerForm.get('password')?.hasError('minLength')"
                            class="mat-valid"
                            > &nbsp; <mat-icon [inline]="true">check</mat-icon>  8 characters.</mat-error>
                        
                        } 
                    <mat-error 
                        *ngIf="
                            registerForm.get('repeatPassword')?.hasError('notEqualPasswords') && 
                            !registerForm.get('password')?.hasError('required') && 
                            !registerForm.get('repeatPassword')?.hasError('required') && 
                            passwordFormatValid('password')
                        "
                        > &nbsp; <mat-icon [inline]="true">close</mat-icon> Passwords must be equal.</mat-error>
                    <mat-error 
                        class="mat-valid"
                            *ngIf="!registerForm.get('repeatPassword')?.hasError('notEqualPasswords') && 
                            !registerForm.get('password')?.hasError('required') && 
                            !registerForm.get('repeatPassword')?.hasError('required') && 
                            passwordFormatValid('password')
                        "
                        >Passwords are equal <mat-icon [inline]="true">check</mat-icon> </mat-error>
                </div>
            </div>
            
            <div class="subfield">
                <mat-form-field hideRequiredMarker>
                    <mat-label><mat-icon>person</mat-icon> First name</mat-label>
                    <input matInput type="text" formControlName="firstName"/>
                </mat-form-field>
                
                <mat-form-field hideRequiredMarker>
                    <mat-label><mat-icon>person</mat-icon> Last name</mat-label>
                    <input matInput type="text" formControlName="lastName"/>
                </mat-form-field>
                
            </div>
            <div class="subfield">
                <mat-form-field hideRequiredMarker>
                    <mat-label><mat-icon>email</mat-icon> Email</mat-label>
                    <input matInput type="email" formControlName="email"/>
                </mat-form-field>
            
                <mat-form-field hideRequiredMarker>
                    <mat-label><mat-icon>phone</mat-icon> Cellphone</mat-label>
                    <input matInput type="text" formControlName="cellphone"/>
                </mat-form-field>
            </div>

            <div class="form-group">
                <div>
                    <button mat-raised-button color="primary" type="submit" [disabled]="registerForm.invalid" >Register</button>
                    <a mat-raised-button color="secondary" type="button" href="login" >Login</a>
                </div>
            </div>
        </form>
    </mat-card>
</div>