<h1>Grupos</h1>

<!-- table -->
<table class="table table-striped table-hover">
    <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Time Created</th>
            <th>Role</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @for (group of userGroups; track $index) {
            <tr>
                <td>{{ group.id_group }}</td>
                <td>{{ group.name }}</td>
                <td>{{ group.time_created }}</td>
                @if(userGroupsIsAdmin[$index]){
                    <td>Admin</td>
                } @else {
                    <td>Member</td>
                }
                <td>
                    @if(userGroupsIsAdmin[$index]){
                        <button class="btn btn-primary" (click)="editGroupName($index)" >Edit Name</button>
                    }
                    <button class="btn btn-danger" (click)="deleteGroup()" hidden >Delete</button>
                </td>
            </tr>
        }
    </tbody>
</table>

<div>
    <input type="text" [(ngModel)]="groupName" placeholder="Enter group name">
    <button class="btn btn-success" (click)="createGroup()">Create Group</button>
</div>